// ---------- Breakpoints ---------- => Vuetify
$breakpoint__x-small: 414px;

$breakpoint__sm: 600px;
$breakpoint__md: 960px;
$breakpoint__lg: 1264px;

// ---------- Colors ----------------
$color__primary: #004F8B;
$color__secondary: #008FE1;
$color__white: #ffffff;
$color__black: #000000;
$color__red-bright: #ba0005;

